<%= form_with model: @comment, local: true do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_message_width" class="alert alert-danger">
      <h2>
        <%= pluralize(@comment.errors.count, "error") %> prohibited
        this comment from being saved:
      </h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label "Enter your comment:" %><br>
    <%= form.text_field :text, class: "set_width" %>
  </p>

  <p>
    <%= form.submit class: "btn btn-success" %> <%= link_to 'Back', pages_index_path, class: "btn btn-success" %>
  </p>
<% end %>
