<!-- Page Content -->
<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="my-4">Categories</h1>
        <div class="list-group">
          <p class="list-group-item"><%= link_to 'Toys', pages_toys_path %></p>
          <p class="list-group-item"><%= link_to 'Films', pages_films_path %></p>
          <p class="list-group-item"><%= link_to 'Gadgets', pages_gadgets_path, class: "highlight" %></p>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <% @gadgets.each do |gadget| %>
            <div class="col-lg-4">
              <div class="padd">
                <div class="card h-100">
                  <img class="card-img-top" height="220" width="90" alt="Gadget image was't found" src=<%= gadget.img_url %>>
                  <div class="card-body">
                    <h5 class="card-title">
                      <span><%= link_to gadget.title, product_path(gadget) %></span>
                    </h5>
                    <h5>$<%= gadget.price %></h5>
                    <p id="overflow_ellipsis" class="card-text"><%= gadget.description %></p>
                    <% if signed_in? %>
                      <button type="button" class="btn btn-success">Buy</button>
                      <% if current_user.admin %>
                        <button type="button" class="btn btn-warning" ><%= link_to 'Edit', edit_product_path(gadget), class: "color_inherit" %></button>
                        <button type="button" class="btn btn-danger"><%= link_to 'Destroy', product_path(gadget),
                                                                         method: :delete,
                                                                         data: { confirm: 'Are you sure?' },
                                                                         class: "color_inherit" %></button>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pad">
  <% @gadgets_count.times do |i| %>
    <button type="button" class="btn btn-outline-dark" ><%= link_to eval((i+1).to_s), pages_gadgets_path(skip: i*6), class: "color_inherit" %></button>
  <% end %>
</div>
