<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!--
    <% if signed_in? %>
         Signed in as: <%= current_user.email %>
         <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% else %>
         <%= link_to 'Sign in', sign_in_path %>
    <% end %>
    -->

      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="nav-link" href="/pages/index">
            <span class="white">Cool Store</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <span class="nav-link"><%= link_to 'Bin', pages_bin_path, class: "color_inherit"%></span>
              </li>
              <% if signed_in? %>
                <% if current_user.admin %>
                  <li class="nav-item">
                    <span class="nav-link"><%= link_to 'Add product', new_product_path, class: "color_inherit"%></span>
                  </li>
                <% end %>
                <li class="nav-item">
                  <span class="nav-link"><%= link_to "Discounts", discounts_discounts_path, class: "color_inherit"%></span>
                </li>
                <li class="nav-item">
                  <span class="nav-link"><%= link_to "Send email", pages_mail_path, class: "color_inherit"%></span>
                </li>
                <li class="nav-item">
                  <span class="nav-link"><%= link_to "Sign out", sign_out_path, method: :delete, class: "color_inherit"%></span>
                </li>
                <li class="nav-item">
                  <span class="nav-link"><%= link_to current_user.username, users_cabinet_path, class: "color_inherit"%></span>
                </li>
              <% else %>
                <li class="nav-item">
                  <span class="nav-link"><%= link_to "Sign up", sign_up_path, class: "color_inherit"%></span>
                </li>
                <li class="nav-item">
                  <span class="nav-link"><%= link_to "Sign in", sign_in_path, class: "color_inherit"%></span>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Page Content -->
      <div class="container">
           <div id="flash">
             <% flash.each do |key, value| %>
               <div class="flash <%= key %>"><%= value %></div>
             <% end %>
           </div>
        <%= yield %>
      </div>
      <!-- /.container -->
      <!-- Footer -->
      <footer class="page-footer py-5 bg-dark">
        <div class="container">
          <div class="keep_center">
            <p class="m-0 text-center text-white">Made by Nazar Kostyk &copy; My Store 2019</p>
          </div>
        </div>
        <!-- /.container -->
      </footer>
  </body>
</html>
